@model IEnumerable<StudentSystem.Web.ViewModel.CourseViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">WELCOME</h1>
    
</div>

<table class="table table-striped">
    <tr>
        <th>Category</th>
        <th>Course Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Category
            </td>
            <td>
                <a href="/Course/Detail/@item.Id">@item.Title</a>
            </td>
        </tr>
    }
</table>